In [1]:
import pandas as pd
import yaml

In [23]:
with open('/Users/z001t72/Documents/Training/cricket/data/all_male/211028.yaml', 'r') as f:
    df_yaml = yaml.load(f)
#     df = pd.io.json.json_normalize(yaml.load(f))

In [24]:
columns = ['match_date', 'match_type', 'venue', 'city', 'overs', 'winner', 'innings', 'team', 'ball', 'batsman', 'bowler', 'non_striker', 'runs.batsman', 'runs.extras', 'runs.total', 'wicket.kind', 'wicket.player_out', 'wicket.fielders']

In [25]:
ball_by_ball = pd.DataFrame(columns=columns)

In [28]:
ball_by_ball

,date,match_type,venue,city,overs,winner,innings,team,ball,batsman,bowler,non_striker,runs.batsman,runs.extras,runs.total,wicket.kind,wicket.player_out,wicket.fielders
0,2005-06-13,T20,The Rose Bowl,Southampton,20,England,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
ball_by_ball['date'] = df_yaml['info']['dates']
ball_by_ball['match_type'] = df_yaml['info']['match_type']
ball_by_ball['venue'] = df_yaml['info']['venue']
ball_by_ball['city'] = df_yaml['info']['city']
ball_by_ball['overs'] = df_yaml['info']['overs']
ball_by_ball['winner'] = df_yaml['info']['outcome']['winner']

In [491]:
ball_by_ball['innings'] = list(df_yaml['innings'][0].items())[0][0]
ball_by_ball['team'] = list(df_yaml['innings'][0].values())[0]['team']

In [342]:
len(list(list(df_yaml['innings'][0].values())[0]['deliveries']))

125

In [331]:
ball_by_ball['ball'] = list(list(df_yaml['innings'][0].values())[0]['deliveries'][0].items())[0][0]
ball_by_ball['batsman'] = list(list(df_yaml['innings'][0].values())[0]['deliveries'][0].items())[0][1]['batsman']
ball_by_ball['bowler'] = list(list(df_yaml['innings'][0].values())[0]['deliveries'][0].items())[0][1]['bowler']
ball_by_ball['non_striker'] = list(list(df_yaml['innings'][0].values())[0]['deliveries'][0].items())[0][1]['non_striker']
ball_by_ball['runs.batsman'] = list(list(df_yaml['innings'][0].values())[0]['deliveries'][0].items())[0][1]['runs']['batsman']
ball_by_ball['runs.extras'] = list(list(df_yaml['innings'][0].values())[0]['deliveries'][0].items())[0][1]['runs']['extras']
ball_by_ball['runs.total'] = list(list(df_yaml['innings'][0].values())[0]['deliveries'][0].items())[0][1]['runs']['total']

In [338]:
i = 114

In [339]:
if 'wicket' in list(list(df_yaml['innings'][0].values())[0]['deliveries'][i].items())[0][1]:
    ball_by_ball['wicket.kind'] = list(list(df_yaml['innings'][0].values())[0]['deliveries'][i].items())[0][1]['wicket']['kind']
    ball_by_ball['wicket.player_out'] = list(list(df_yaml['innings'][0].values())[0]['deliveries'][i].items())[0][1]['wicket']['player_out']
    
    if 'fielders' in list(list(df_yaml['innings'][0].values())[0]['deliveries'][i].items())[0][1]['wicket']:
        ball_by_ball['wicket.fielders'] = list(list(df_yaml['innings'][0].values())[0]['deliveries'][i].items())[0][1]['wicket']['fielders']
    else:
        ball_by_ball['wicket.fielders'] = 'NA'
else:
    ball_by_ball['wicket.kind'] = 'NA'
    ball_by_ball['wicket.player_out'] = 'NA'
    ball_by_ball['wicket.fielders'] = 'NA'

In [319]:
if 'fielders' in list(list(df_yaml['innings'][0].values())[0]['deliveries'][114].items())[0][1]['wicket']: print('present')
else: print('NA')

NA

In [318]:
list(list(df_yaml['innings'][0].values())[0]['deliveries'][114].items())[0][1]['wicket']

{'kind': 'bowled', 'player_out': 'AJ Strauss'}

In [279]:
list(list(df_yaml['innings'][0].values())[0]['deliveries'][24].items())[0][1].keys()

dict_keys(['batsman', 'bowler', 'non_striker', 'runs', 'wicket'])

In [492]:
ball_by_ball

,date,match_type,venue,city,overs,winner,innings,team,ball,batsman,bowler,non_striker,runs.batsman,runs.extras,runs.total,wicket.kind,wicket.player_out,wicket.fielders
0,2005-06-13,T20,The Rose Bowl,Southampton,20,England,1st innings,England,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
list(list(df_yaml['innings'][1].values())[0]['deliveries'][0].values())[0]['runs']['total']

0

In [134]:
k = df_yaml['innings'][1].values()

In [135]:
list(k)[0]['deliveries']

[{0.1: {'batsman': 'AC Gilchrist',
   'bowler': 'D Gough',
   'non_striker': 'ML Hayden',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.2: {'batsman': 'AC Gilchrist',
   'bowler': 'D Gough',
   'non_striker': 'ML Hayden',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {0.3: {'batsman': 'AC Gilchrist',
   'bowler': 'D Gough',
   'non_striker': 'ML Hayden',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.4: {'batsman': 'AC Gilchrist',
   'bowler': 'D Gough',
   'non_striker': 'ML Hayden',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.5: {'batsman': 'AC Gilchrist',
   'bowler': 'D Gough',
   'non_striker': 'ML Hayden',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {0.6: {'batsman': 'AC Gilchrist',
   'bowler': 'D Gough',
   'non_striker': 'ML Hayden',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.1: {'batsman': 'ML Hayden',
   'bowler': 'J Lewis',
   'non_striker': 'AC Gilchrist',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {1.2: {'batsman': 'ML Hayden',
   'bowler': 'J Lewis',
   'non_striker': 'AC Gilchrist',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {1.3: {'batsman': 'AC Gilchrist',
   'bowler': 'J Lewis',
   'non_striker': 'ML Hayden',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.4: {'batsman': 'AC Gilchrist',
   'bowler': 'J Lewis',
   'non_striker': 'ML Hayden',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.5: {'batsman': 'AC Gilchrist',
   'bowler': 'J Lewis',
   'non_striker': 'ML Hayden',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {1.6: {'batsman': 'AC Gilchrist',
   'bowler': 'J Lewis',
   'non_striker': 'ML Hayden',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.1: {'batsman': 'AC Gilchrist',
   'bowler': 'D Gough',
   'extras': {'legbyes': 1},
   'non_striker': 'ML Hayden',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {2.2: {'batsman': 'ML Hayden',
   'bowler': 'D Gough',
   'non_striker': 'AC Gilchrist',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.3: {'batsman': 'AC Gilchrist',
   'bowler': 'D Gough',
   'extras': {'noballs': 1},
   'non_striker': 'ML Hayden',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {2.4: {'batsman': 'AC Gilchrist',
   'bowler': 'D Gough',
   'non_striker': 'ML Hayden',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {2.5: {'batsman': 'AC Gilchrist',
   'bowler': 'D Gough',
   'non_striker': 'ML Hayden',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['KP Pietersen'],
    'kind': 'caught',
    'player_out': 'AC Gilchrist'}}},
 {2.6: {'batsman': 'ML Hayden',
   'bowler': 'D Gough',
   'non_striker': 'A Symonds',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['KP Pietersen'],
    'kind': 'caught',
    'player_out': 'ML Hayden'}}},
 {2.7: {'batsman': 'A Symonds',
   'bowler': 'D Gough',
   'non_striker': 'MJ Clarke',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.1: {'batsman': 'MJ Clarke',
   'bowler': 'J Lewis',
   'non_striker': 'A Symonds',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['GO Jones'],
    'kind': 'caught',
    'player_out': 'MJ Clarke'}}},
 {3.2: {'batsman': 'MEK Hussey',
   'bowler': 'J Lewis',
   'non_striker': 'A Symonds',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.3: {'batsman': 'MEK Hussey',
   'bowler': 'J Lewis',
   'non_striker': 'A Symonds',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.4: {'batsman': 'A Symonds',
   'bowler': 'J Lewis',
   'non_striker': 'MEK Hussey',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['KP Pietersen'],
    'kind': 'caught',
    'player_out': 'A Symonds'}}},
 {3.5: {'batsman': 'RT Ponting',
   'bowler': 'J Lewis',
   'non_striker': 'MEK Hussey',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.6: {'batsman': 'RT Ponting',
   'bowler': 'J Lewis',
   'non_striker': 'MEK Hussey',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {4.1: {'batsman': 'MEK Hussey',
   'bowler': 'D Gough',
   'non_striker': 'RT Ponting',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {4.2: {'batsman': 'MEK Hussey',
   'bowler': 'D Gough',
   'non_striker': 'RT Ponting',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {4.3: {'batsman': 'MEK Hussey',
   'bowler': 'D Gough',
   'non_striker': 'RT Ponting',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {4.4: {'batsman': 'MEK Hussey',
   'bowler': 'D Gough',
   'non_striker': 'RT Ponting',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['A Flintoff'],
    'kind': 'caught',
    'player_out': 'MEK Hussey'}}},
 {4.5: {'batsman': 'DR Martyn',
   'bowler': 'D Gough',
   'non_striker': 'RT Ponting',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {4.6: {'batsman': 'DR Martyn',
   'bowler': 'D Gough',
   'non_striker': 'RT Ponting',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {5.1: {'batsman': 'RT Ponting',
   'bowler': 'J Lewis',
   'non_striker': 'DR Martyn',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['VS Solanki'],
    'kind': 'caught',
    'player_out': 'RT Ponting'}}},
 {5.2: {'batsman': 'B Lee',
   'bowler': 'J Lewis',
   'non_striker': 'DR Martyn',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.3: {'batsman': 'B Lee',
   'bowler': 'J Lewis',
   'non_striker': 'DR Martyn',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {5.4: {'batsman': 'DR Martyn',
   'bowler': 'J Lewis',
   'non_striker': 'B Lee',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.5: {'batsman': 'DR Martyn',
   'bowler': 'J Lewis',
   'non_striker': 'B Lee',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['ME Trescothick'],
    'kind': 'caught',
    'player_out': 'DR Martyn'}}},
 {5.6: {'batsman': 'JN Gillespie',
   'bowler': 'J Lewis',
   'non_striker': 'B Lee',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.1: {'batsman': 'B Lee',
   'bowler': 'SJ Harmison',
   'non_striker': 'JN Gillespie',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.2: {'batsman': 'B Lee',
   'bowler': 'SJ Harmison',
   'non_striker': 'JN Gillespie',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.3: {'batsman': 'JN Gillespie',
   'bowler': 'SJ Harmison',
   'extras': {'noballs': 1},
   'non_striker': 'B Lee',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {6.4: {'batsman': 'JN Gillespie',
   'bowler': 'SJ Harmison',
   'non_striker': 'B Lee',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.5: {'batsman': 'B Lee',
   'bowler': 'SJ Harmison',
   'non_striker': 'JN Gillespie',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {6.6: {'batsman': 'B Lee',
   'bowler': 'SJ Harmison',
   'non_striker': 'JN Gillespie',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.7: {'batsman': 'JN Gillespie',
   'bowler': 'SJ Harmison',
   'non_striker': 'B Lee',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.1: {'batsman': 'B Lee',
   'bowler': 'J Lewis',
   'non_striker': 'JN Gillespie',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {7.2: {'batsman': 'B Lee',
   'bowler': 'J Lewis',
   'non_striker': 'JN Gillespie',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.3: {'batsman': 'JN Gillespie',
   'bowler': 'J Lewis',
   'non_striker': 'B Lee',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.4: {'batsman': 'JN Gillespie',
   'bowler': 'J Lewis',
   'non_striker': 'B Lee',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {7.5: {'batsman': 'JN Gillespie',
   'bowler': 'J Lewis',
   'non_striker': 'B Lee',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.6: {'batsman': 'JN Gillespie',
   'bowler': 'J Lewis',
   'non_striker': 'B Lee',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {8.1: {'batsman': 'JN Gillespie',
   'bowler': 'SJ Harmison',
   'non_striker': 'B Lee',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {8.2: {'batsman': 'JN Gillespie',
   'bowler': 'SJ Harmison',
   'non_striker': 'B Lee',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.3: {'batsman': 'JN Gillespie',
   'bowler': 'SJ Harmison',
   'non_striker': 'B Lee',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.4: {'batsman': 'JN Gillespie',
   'bowler': 'SJ Harmison',
   'non_striker': 'B Lee',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.5: {'batsman': 'B Lee',
   'bowler': 'SJ Harmison',
   'non_striker': 'JN Gillespie',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.6: {'batsman': 'B Lee',
   'bowler': 'SJ Harmison',
   'non_striker': 'JN Gillespie',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.1: {'batsman': 'JN Gillespie',
   'bowler': 'A Flintoff',
   'non_striker': 'B Lee',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {9.2: {'batsman': 'JN Gillespie',
   'bowler': 'A Flintoff',
   'non_striker': 'B Lee',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {9.3: {'batsman': 'JN Gillespie',
   'bowler': 'A Flintoff',
   'non_striker': 'B Lee',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.4: {'batsman': 'B Lee',
   'bowler': 'A Flintoff',
   'non_striker': 'JN Gillespie',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.5: {'batsman': 'JN Gillespie',
   'bowler': 'A Flintoff',
   'non_striker': 'B Lee',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.6: {'batsman': 'B Lee',
   'bowler': 'A Flintoff',
   'non_striker': 'JN Gillespie',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.1: {'batsman': 'JN Gillespie',
   'bowler': 'PD Collingwood',
   'non_striker': 'B Lee',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.2: {'batsman': 'B Lee',
   'bowler': 'PD Collingwood',
   'extras': {'byes': 1},
   'non_striker': 'JN Gillespie',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {10.3: {'batsman': 'JN Gillespie',
   'bowler': 'PD Collingwood',
   'non_striker': 'B Lee',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['ME Trescothick'],
    'kind': 'caught',
    'player_out': 'JN Gillespie'}}},
 {10.4: {'batsman': 'B Lee',
   'bowler': 'PD Collingwood',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.5: {'batsman': 'MS Kasprowicz',
   'bowler': 'PD Collingwood',
   'non_striker': 'B Lee',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.6: {'batsman': 'MS Kasprowicz',
   'bowler': 'PD Collingwood',
   'non_striker': 'B Lee',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.1: {'batsman': 'B Lee',
   'bowler': 'A Flintoff',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.2: {'batsman': 'B Lee',
   'bowler': 'A Flintoff',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.3: {'batsman': 'B Lee',
   'bowler': 'A Flintoff',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.4: {'batsman': 'B Lee',
   'bowler': 'A Flintoff',
   'extras': {'legbyes': 1},
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {11.5: {'batsman': 'MS Kasprowicz',
   'bowler': 'A Flintoff',
   'extras': {'wides': 1},
   'non_striker': 'B Lee',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {11.6: {'batsman': 'MS Kasprowicz',
   'bowler': 'A Flintoff',
   'non_striker': 'B Lee',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.7: {'batsman': 'B Lee',
   'bowler': 'A Flintoff',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.1: {'batsman': 'B Lee',
   'bowler': 'PD Collingwood',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['SJ Harmison'],
    'kind': 'caught',
    'player_out': 'B Lee'}}},
 {12.2: {'batsman': 'MS Kasprowicz',
   'bowler': 'PD Collingwood',
   'non_striker': 'GD McGrath',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.3: {'batsman': 'GD McGrath',
   'bowler': 'PD Collingwood',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.4: {'batsman': 'GD McGrath',
   'bowler': 'PD Collingwood',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {12.5: {'batsman': 'MS Kasprowicz',
   'bowler': 'PD Collingwood',
   'non_striker': 'GD McGrath',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.6: {'batsman': 'GD McGrath',
   'bowler': 'PD Collingwood',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.1: {'batsman': 'GD McGrath',
   'bowler': 'A Flintoff',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.2: {'batsman': 'GD McGrath',
   'bowler': 'A Flintoff',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.3: {'batsman': 'GD McGrath',
   'bowler': 'A Flintoff',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.4: {'batsman': 'GD McGrath',
   'bowler': 'A Flintoff',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.5: {'batsman': 'GD McGrath',
   'bowler': 'A Flintoff',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.6: {'batsman': 'GD McGrath',
   'bowler': 'A Flintoff',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.1: {'batsman': 'GD McGrath',
   'bowler': 'SJ Harmison',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {14.2: {'batsman': 'GD McGrath',
   'bowler': 'SJ Harmison',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {14.3: {'batsman': 'GD McGrath',
   'bowler': 'SJ Harmison',
   'non_striker': 'MS Kasprowicz',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'bowled', 'player_out': 'GD McGrath'}}}]

In [83]:
df

,info.city,info.dates,info.gender,info.match_type,info.outcome.by.runs,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,innings,meta.created,meta.data_version,meta.revision
0,Southampton,[2005-06-13],male,T20,100,England,20,[KP Pietersen],"[England, Australia]",bat,England,"[NJ Llong, JW Lloyds]",The Rose Bowl,"[{'1st innings': {'team': 'England', 'deliveri...",2013-02-22,0.9,1

In [ ]:
df_pd = pd.DataFrame(df)
df_pd

In [12]:
df_pd['innings'].dtype

dtype('O')

In [69]:
with open('/Users/z001t72/Documents/Training/cricket/data/all_male/211028.yaml', 'r') as f:
    # use safe_load instead load
    dataMap = yaml.safe_load(f)

In [70]:
dataMap["innings"][0]

{'1st innings': {'team': 'England',
  'deliveries': [{0.1: {'batsman': 'ME Trescothick',
     'bowler': 'B Lee',
     'non_striker': 'GO Jones',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {0.2: {'batsman': 'ME Trescothick',
     'bowler': 'B Lee',
     'non_striker': 'GO Jones',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {0.3: {'batsman': 'GO Jones',
     'bowler': 'B Lee',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {0.4: {'batsman': 'GO Jones',
     'bowler': 'B Lee',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {0.5: {'batsman': 'GO Jones',
     'bowler': 'B Lee',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {0.6: {'batsman': 'GO Jones',
     'bowler': 'B Lee',
     'extras': {'noballs': 1},
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
   {0.7: {'batsman': 'GO Jones',
     'bowler': 'B Lee',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {1.1: {'batsman': 'ME Trescothick',
     'bowler': 'GD McGrath',
     'non_striker': 'GO Jones',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {1.2: {'batsman': 'ME Trescothick',
     'bowler': 'GD McGrath',
     'non_striker': 'GO Jones',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {1.3: {'batsman': 'ME Trescothick',
     'bowler': 'GD McGrath',
     'extras': {'wides': 1},
     'non_striker': 'GO Jones',
     'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
   {1.4: {'batsman': 'ME Trescothick',
     'bowler': 'GD McGrath',
     'non_striker': 'GO Jones',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {1.5: {'batsman': 'ME Trescothick',
     'bowler': 'GD McGrath',
     'non_striker': 'GO Jones',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {1.6: {'batsman': 'ME Trescothick',
     'bowler': 'GD McGrath',
     'non_striker': 'GO Jones',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {1.7: {'batsman': 'ME Trescothick',
     'bowler': 'GD McGrath',
     'non_striker': 'GO Jones',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {2.1: {'batsman': 'ME Trescothick',
     'bowler': 'B Lee',
     'non_striker': 'GO Jones',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {2.2: {'batsman': 'ME Trescothick',
     'bowler': 'B Lee',
     'non_striker': 'GO Jones',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {2.3: {'batsman': 'GO Jones',
     'bowler': 'B Lee',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {2.4: {'batsman': 'GO Jones',
     'bowler': 'B Lee',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {2.5: {'batsman': 'GO Jones',
     'bowler': 'B Lee',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {2.6: {'batsman': 'GO Jones',
     'bowler': 'B Lee',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {3.1: {'batsman': 'GO Jones',
     'bowler': 'GD McGrath',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {3.2: {'batsman': 'GO Jones',
     'bowler': 'GD McGrath',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {3.3: {'batsman': 'GO Jones',
     'bowler': 'GD McGrath',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {3.4: {'batsman': 'GO Jones',
     'bowler': 'GD McGrath',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {3.5: {'batsman': 'GO Jones',
     'bowler': 'GD McGrath',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0},
     'wicket': {'fielders': ['MS Kasprowicz'],
      'kind': 'caught',
      'player_out': 'GO Jones'}}},
   {3.6: {'batsman': 'ME Trescothick',
     'bowler': 'GD McGrath',
     'non_striker': 'A Flintoff',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {4.1: {'batsman': 'ME Trescothick',
     'bowler': 'B Lee',
     'non_striker': 'A Flintoff',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {4.2: {'batsman': 'A Flintoff',
     'bowler': 'B Lee',
     'extras': {'noballs': 1},
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 1, 'extras': 1, 'total': 2}}},
   {4.3: {'batsman': 'ME Trescothick',
     'bowler': 'B Lee',
     'non_striker': 'A Flintoff',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {4.4: {'batsman': 'ME Trescothick',
     'bowler': 'B Lee',
     'non_striker': 'A Flintoff',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {4.5: {'batsman': 'A Flintoff',
     'bowler': 'B Lee',
     'extras': {'wides': 1},
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
   {4.6: {'batsman': 'A Flintoff',
     'bowler': 'B Lee',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {4.7: {'batsman': 'ME Trescothick',
     'bowler': 'B Lee',
     'extras': {'legbyes': 1},
     'non_striker': 'A Flintoff',
     'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
   {4.8: {'batsman': 'A Flintoff',
     'bowler': 'B Lee',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
   {5.1: {'batsman': 'A Flintoff',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {5.2: {'batsman': 'ME Trescothick',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'A Flintoff',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {5.3: {'batsman': 'ME Trescothick',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'A Flintoff',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {5.4: {'batsman': 'ME Trescothick',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'A Flintoff',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {5.5: {'batsman': 'A Flintoff',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0},
     'wicket': {'fielders': ['A Symonds'],
      'kind': 'caught',
      'player_out': 'A Flintoff'}}},
   {5.6: {'batsman': 'KP Pietersen',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {6.1: {'batsman': 'KP Pietersen',
     'bowler': 'JN Gillespie',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {6.2: {'batsman': 'ME Trescothick',
     'bowler': 'JN Gillespie',
     'non_striker': 'KP Pietersen',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {6.3: {'batsman': 'ME Trescothick',
     'bowler': 'JN Gillespie',
     'non_striker': 'KP Pietersen',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {6.4: {'batsman': 'KP Pietersen',
     'bowler': 'JN Gillespie',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {6.5: {'batsman': 'KP Pietersen',
     'bowler': 'JN Gillespie',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {6.6: {'batsman': 'KP Pietersen',
     'bowler': 'JN Gillespie',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {7.1: {'batsman': 'ME Trescothick',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'KP Pietersen',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {7.2: {'batsman': 'KP Pietersen',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {7.3: {'batsman': 'KP Pietersen',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {7.4: {'batsman': 'KP Pietersen',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {7.5: {'batsman': 'ME Trescothick',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'KP Pietersen',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {7.6: {'batsman': 'KP Pietersen',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {8.1: {'batsman': 'KP Pietersen',
     'bowler': 'JN Gillespie',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {8.2: {'batsman': 'ME Trescothick',
     'bowler': 'JN Gillespie',
     'non_striker': 'KP Pietersen',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {8.3: {'batsman': 'KP Pietersen',
     'bowler': 'JN Gillespie',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {8.4: {'batsman': 'ME Trescothick',
     'bowler': 'JN Gillespie',
     'non_striker': 'KP Pietersen',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {8.5: {'batsman': 'ME Trescothick',
     'bowler': 'JN Gillespie',
     'non_striker': 'KP Pietersen',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {8.6: {'batsman': 'KP Pietersen',
     'bowler': 'JN Gillespie',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
   {9.1: {'batsman': 'ME Trescothick',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'KP Pietersen',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {9.2: {'batsman': 'KP Pietersen',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {9.3: {'batsman': 'KP Pietersen',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {9.4: {'batsman': 'KP Pietersen',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {9.5: {'batsman': 'ME Trescothick',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'KP Pietersen',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {9.6: {'batsman': 'KP Pietersen',
     'bowler': 'MS Kasprowicz',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {10.1: {'batsman': 'ME Trescothick',
     'bowler': 'MJ Clarke',
     'non_striker': 'KP Pietersen',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {10.2: {'batsman': 'KP Pietersen',
     'bowler': 'MJ Clarke',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {10.3: {'batsman': 'ME Trescothick',
     'bowler': 'MJ Clarke',
     'non_striker': 'KP Pietersen',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {10.4: {'batsman': 'ME Trescothick',
     'bowler': 'MJ Clarke',
     'non_striker': 'KP Pietersen',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {10.5: {'batsman': 'KP Pietersen',
     'bowler': 'MJ Clarke',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0},
     'wicket': {'fielders': ['ML Hayden'],
      'kind': 'caught',
      'player_out': 'KP Pietersen'}}},
   {10.6: {'batsman': 'ME Trescothick',
     'bowler': 'MJ Clarke',
     'non_striker': 'MP Vaughan',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {11.1: {'batsman': 'ME Trescothick',
     'bowler': 'A Symonds',
     'non_striker': 'MP Vaughan',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {11.2: {'batsman': 'MP Vaughan',
     'bowler': 'A Symonds',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0},
     'wicket': {'fielders': ['RT Ponting'],
      'kind': 'caught',
      'player_out': 'MP Vaughan'}}},
   {11.3: {'batsman': 'PD Collingwood',
     'bowler': 'A Symonds',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {11.4: {'batsman': 'PD Collingwood',
     'bowler': 'A Symonds',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {11.5: {'batsman': 'ME Trescothick',
     'bowler': 'A Symonds',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {11.6: {'batsman': 'PD Collingwood',
     'bowler': 'A Symonds',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {12.1: {'batsman': 'PD Collingwood',
     'bowler': 'MJ Clarke',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {12.2: {'batsman': 'ME Trescothick',
     'bowler': 'MJ Clarke',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {12.3: {'batsman': 'ME Trescothick',
     'bowler': 'MJ Clarke',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {12.4: {'batsman': 'PD Collingwood',
     'bowler': 'MJ Clarke',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {12.5: {'batsman': 'PD Collingwood',
     'bowler': 'MJ Clarke',
     'non_striker': 'ME Trescothick',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {12.6: {'batsman': 'ME Trescothick',
     'bowler': 'MJ Clarke',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {13.1: {'batsman': 'ME Trescothick',
     'bowler': 'A Symonds',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0},
     'wicket': {'fielders': ['MEK Hussey'],
      'kind': 'caught',
      'player_out': 'ME Trescothick'}}},
   {13.2: {'batsman': 'PD Collingwood',
     'bowler': 'A Symonds',
     'non_striker': 'AJ Strauss',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {13.3: {'batsman': 'PD Collingwood',
     'bowler': 'A Symonds',
     'non_striker': 'AJ Strauss',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {13.4: {'batsman': 'AJ Strauss',
     'bowler': 'A Symonds',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {13.5: {'batsman': 'AJ Strauss',
     'bowler': 'A Symonds',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {13.6: {'batsman': 'PD Collingwood',
     'bowler': 'A Symonds',
     'non_striker': 'AJ Strauss',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {14.1: {'batsman': 'AJ Strauss',
     'bowler': 'MJ Clarke',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
   {14.2: {'batsman': 'PD Collingwood',
     'bowler': 'MJ Clarke',
     'non_striker': 'AJ Strauss',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {14.3: {'batsman': 'PD Collingwood',
     'bowler': 'MJ Clarke',
     'non_striker': 'AJ Strauss',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {14.4: {'batsman': 'AJ Strauss',
     'bowler': 'MJ Clarke',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {14.5: {'batsman': 'AJ Strauss',
     'bowler': 'MJ Clarke',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {14.6: {'batsman': 'PD Collingwood',
     'bowler': 'MJ Clarke',
     'non_striker': 'AJ Strauss',
     'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
   {15.1: {'batsman': 'AJ Strauss',
     'bowler': 'A Symonds',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {15.2: {'batsman': 'PD Collingwood',
     'bowler': 'A Symonds',
     'non_striker': 'AJ Strauss',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {15.3: {'batsman': 'AJ Strauss',
     'bowler': 'A Symonds',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {15.4: {'batsman': 'AJ Strauss',
     'bowler': 'A Symonds',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {15.5: {'batsman': 'PD Collingwood',
     'bowler': 'A Symonds',
     'non_striker': 'AJ Strauss',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {15.6: {'batsman': 'PD Collingwood',
     'bowler': 'A Symonds',
     'non_striker': 'AJ Strauss',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {16.1: {'batsman': 'PD Collingwood',
     'bowler': 'JN Gillespie',
     'non_striker': 'AJ Strauss',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {16.2: {'batsman': 'AJ Strauss',
     'bowler': 'JN Gillespie',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {16.3: {'batsman': 'AJ Strauss',
     'bowler': 'JN Gillespie',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {16.4: {'batsman': 'AJ Strauss',
     'bowler': 'JN Gillespie',
     'extras': {'wides': 1},
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
   {16.5: {'batsman': 'AJ Strauss',
     'bowler': 'JN Gillespie',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {16.6: {'batsman': 'PD Collingwood',
     'bowler': 'JN Gillespie',
     'non_striker': 'AJ Strauss',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {16.7: {'batsman': 'PD Collingwood',
     'bowler': 'JN Gillespie',
     'non_striker': 'AJ Strauss',
     'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
   {17.1: {'batsman': 'AJ Strauss',
     'bowler': 'GD McGrath',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {17.2: {'batsman': 'AJ Strauss',
     'bowler': 'GD McGrath',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {17.3: {'batsman': 'PD Collingwood',
     'bowler': 'GD McGrath',
     'non_striker': 'AJ Strauss',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {17.4: {'batsman': 'AJ Strauss',
     'bowler': 'GD McGrath',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {17.5: {'batsman': 'AJ Strauss',
     'bowler': 'GD McGrath',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {17.6: {'batsman': 'PD Collingwood',
     'bowler': 'GD McGrath',
     'non_striker': 'AJ Strauss',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {18.1: {'batsman': 'PD Collingwood',
     'bowler': 'JN Gillespie',
     'non_striker': 'AJ Strauss',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {18.2: {'batsman': 'AJ Strauss',
     'bowler': 'JN Gillespie',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0},
     'wicket': {'kind': 'bowled', 'player_out': 'AJ Strauss'}}},
   {18.3: {'batsman': 'VS Solanki',
     'bowler': 'JN Gillespie',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
   {18.4: {'batsman': 'PD Collingwood',
     'bowler': 'JN Gillespie',
     'non_striker': 'VS Solanki',
     'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
   {18.5: {'batsman': 'PD Collingwood',
     'bowler': 'JN Gillespie',
     'non_striker': 'VS Solanki',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {18.6: {'batsman': 'PD Collingwood',
     'bowler': 'JN Gillespie',
     'non_striker': 'VS Solanki',
     'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
   {19.1: {'batsman': 'VS Solanki',
     'bowler': 'GD McGrath',
     'non_striker': 'PD Collingwood',
     'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
   {19.2: {'batsman': 'VS Solanki',
     'bowler': 'GD McGrath',
     'non_striker': 'PD Collingwood',

In [77]:
dataMap["innings"][0].values()

dict_values([{'team': 'England', 'deliveries': [{0.1: {'batsman': 'ME Trescothick', 'bowler': 'B Lee', 'non_striker': 'GO Jones', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {0.2: {'batsman': 'ME Trescothick', 'bowler': 'B Lee', 'non_striker': 'GO Jones', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {0.3: {'batsman': 'GO Jones', 'bowler': 'B Lee', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {0.4: {'batsman': 'GO Jones', 'bowler': 'B Lee', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {0.5: {'batsman': 'GO Jones', 'bowler': 'B Lee', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {0.6: {'batsman': 'GO Jones', 'bowler': 'B Lee', 'extras': {'noballs': 1}, 'non_striker': 'ME Trescothick', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}}, {0.7: {'batsman': 'GO Jones', 'bowler': 'B Lee', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {1.1: {'batsman': 'ME Trescothick', 'bowler': 'GD McGrath', 'non_striker': 'GO Jones', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {1.2: {'batsman': 'ME Trescothick', 'bowler': 'GD McGrath', 'non_striker': 'GO Jones', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {1.3: {'batsman': 'ME Trescothick', 'bowler': 'GD McGrath', 'extras': {'wides': 1}, 'non_striker': 'GO Jones', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}}, {1.4: {'batsman': 'ME Trescothick', 'bowler': 'GD McGrath', 'non_striker': 'GO Jones', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {1.5: {'batsman': 'ME Trescothick', 'bowler': 'GD McGrath', 'non_striker': 'GO Jones', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {1.6: {'batsman': 'ME Trescothick', 'bowler': 'GD McGrath', 'non_striker': 'GO Jones', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {1.7: {'batsman': 'ME Trescothick', 'bowler': 'GD McGrath', 'non_striker': 'GO Jones', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {2.1: {'batsman': 'ME Trescothick', 'bowler': 'B Lee', 'non_striker': 'GO Jones', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {2.2: {'batsman': 'ME Trescothick', 'bowler': 'B Lee', 'non_striker': 'GO Jones', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {2.3: {'batsman': 'GO Jones', 'bowler': 'B Lee', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {2.4: {'batsman': 'GO Jones', 'bowler': 'B Lee', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {2.5: {'batsman': 'GO Jones', 'bowler': 'B Lee', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {2.6: {'batsman': 'GO Jones', 'bowler': 'B Lee', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {3.1: {'batsman': 'GO Jones', 'bowler': 'GD McGrath', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {3.2: {'batsman': 'GO Jones', 'bowler': 'GD McGrath', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {3.3: {'batsman': 'GO Jones', 'bowler': 'GD McGrath', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {3.4: {'batsman': 'GO Jones', 'bowler': 'GD McGrath', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {3.5: {'batsman': 'GO Jones', 'bowler': 'GD McGrath', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['MS Kasprowicz'], 'kind': 'caught', 'player_out': 'GO Jones'}}}, {3.6: {'batsman': 'ME Trescothick', 'bowler': 'GD McGrath', 'non_striker': 'A Flintoff', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {4.1: {'batsman': 'ME Trescothick', 'bowler': 'B Lee', 'non_striker': 'A Flintoff', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {4.2: {'batsman': 'A Flintoff', 'bowler': 'B Lee', 'extras': {'noballs': 1}, 'non_striker': 'ME Trescothick', 'runs': {'batsman': 1, 'extras': 1, 'total': 2}}}, {4.3: {'batsman': 'ME Trescothick', 'bowler': 'B Lee', 'non_striker': 'A Flintoff', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {4.4: {'batsman': 'ME Trescothick', 'bowler': 'B Lee', 'non_striker': 'A Flintoff', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {4.5: {'batsman': 'A Flintoff', 'bowler': 'B Lee', 'extras': {'wides': 1}, 'non_striker': 'ME Trescothick', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}}, {4.6: {'batsman': 'A Flintoff', 'bowler': 'B Lee', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {4.7: {'batsman': 'ME Trescothick', 'bowler': 'B Lee', 'extras': {'legbyes': 1}, 'non_striker': 'A Flintoff', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}}, {4.8: {'batsman': 'A Flintoff', 'bowler': 'B Lee', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 3, 'extras': 0, 'total': 3}}}, {5.1: {'batsman': 'A Flintoff', 'bowler': 'MS Kasprowicz', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {5.2: {'batsman': 'ME Trescothick', 'bowler': 'MS Kasprowicz', 'non_striker': 'A Flintoff', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {5.3: {'batsman': 'ME Trescothick', 'bowler': 'MS Kasprowicz', 'non_striker': 'A Flintoff', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {5.4: {'batsman': 'ME Trescothick', 'bowler': 'MS Kasprowicz', 'non_striker': 'A Flintoff', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {5.5: {'batsman': 'A Flintoff', 'bowler': 'MS Kasprowicz', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['A Symonds'], 'kind': 'caught', 'player_out': 'A Flintoff'}}}, {5.6: {'batsman': 'KP Pietersen', 'bowler': 'MS Kasprowicz', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {6.1: {'batsman': 'KP Pietersen', 'bowler': 'JN Gillespie', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {6.2: {'batsman': 'ME Trescothick', 'bowler': 'JN Gillespie', 'non_striker': 'KP Pietersen', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {6.3: {'batsman': 'ME Trescothick', 'bowler': 'JN Gillespie', 'non_striker': 'KP Pietersen', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {6.4: {'batsman': 'KP Pietersen', 'bowler': 'JN Gillespie', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {6.5: {'batsman': 'KP Pietersen', 'bowler': 'JN Gillespie', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {6.6: {'batsman': 'KP Pietersen', 'bowler': 'JN Gillespie', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {7.1: {'batsman': 'ME Trescothick', 'bowler': 'MS Kasprowicz', 'non_striker': 'KP Pietersen', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {7.2: {'batsman': 'KP Pietersen', 'bowler': 'MS Kasprowicz', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {7.3: {'batsman': 'KP Pietersen', 'bowler': 'MS Kasprowicz', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {7.4: {'batsman': 'KP Pietersen', 'bowler': 'MS Kasprowicz', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {7.5: {'batsman': 'ME Trescothick', 'bowler': 'MS Kasprowicz', 'non_striker': 'KP Pietersen', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {7.6: {'batsman': 'KP Pietersen', 'bowler': 'MS Kasprowicz', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {8.1: {'batsman': 'KP Pietersen', 'bowler': 'JN Gillespie', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {8.2: {'batsman': 'ME Trescothick', 'bowler': 'JN Gillespie', 'non_striker': 'KP Pietersen', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {8.3: {'batsman': 'KP Pietersen', 'bowler': 'JN Gillespie', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {8.4: {'batsman': 'ME Trescothick', 'bowler': 'JN Gillespie', 'non_striker': 'KP Pietersen', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {8.5: {'batsman': 'ME Trescothick', 'bowler': 'JN Gillespie', 'non_striker': 'KP Pietersen', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {8.6: {'batsman': 'KP Pietersen', 'bowler': 'JN Gillespie', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 6, 'extras': 0, 'total': 6}}}, {9.1: {'batsman': 'ME Trescothick', 'bowler': 'MS Kasprowicz', 'non_striker': 'KP Pietersen', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {9.2: {'batsman': 'KP Pietersen', 'bowler': 'MS Kasprowicz', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {9.3: {'batsman': 'KP Pietersen', 'bowler': 'MS Kasprowicz', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {9.4: {'batsman': 'KP Pietersen', 'bowler': 'MS Kasprowicz', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {9.5: {'batsman': 'ME Trescothick', 'bowler': 'MS Kasprowicz', 'non_striker': 'KP Pietersen', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {9.6: {'batsman': 'KP Pietersen', 'bowler': 'MS Kasprowicz', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {10.1: {'batsman': 'ME Trescothick', 'bowler': 'MJ Clarke', 'non_striker': 'KP Pietersen', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {10.2: {'batsman': 'KP Pietersen', 'bowler': 'MJ Clarke', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {10.3: {'batsman': 'ME Trescothick', 'bowler': 'MJ Clarke', 'non_striker': 'KP Pietersen', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {10.4: {'batsman': 'ME Trescothick', 'bowler': 'MJ Clarke', 'non_striker': 'KP Pietersen', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {10.5: {'batsman': 'KP Pietersen', 'bowler': 'MJ Clarke', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['ML Hayden'], 'kind': 'caught', 'player_out': 'KP Pietersen'}}}, {10.6: {'batsman': 'ME Trescothick', 'bowler': 'MJ Clarke', 'non_striker': 'MP Vaughan', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {11.1: {'batsman': 'ME Trescothick', 'bowler': 'A Symonds', 'non_striker': 'MP Vaughan', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {11.2: {'batsman': 'MP Vaughan', 'bowler': 'A Symonds', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['RT Ponting'], 'kind': 'caught', 'player_out': 'MP Vaughan'}}}, {11.3: {'batsman': 'PD Collingwood', 'bowler': 'A Symonds', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {11.4: {'batsman': 'PD Collingwood', 'bowler': 'A Symonds', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {11.5: {'batsman': 'ME Trescothick', 'bowler': 'A Symonds', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {11.6: {'batsman': 'PD Collingwood', 'bowler': 'A Symonds', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {12.1: {'batsman': 'PD Collingwood', 'bowler': 'MJ Clarke', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {12.2: {'batsman': 'ME Trescothick', 'bowler': 'MJ Clarke', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {12.3: {'batsman': 'ME Trescothick', 'bowler': 'MJ Clarke', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {12.4: {'batsman': 'PD Collingwood', 'bowler': 'MJ Clarke', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {12.5: {'batsman': 'PD Collingwood', 'bowler': 'MJ Clarke', 'non_striker': 'ME Trescothick', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {12.6: {'batsman': 'ME Trescothick', 'bowler': 'MJ Clarke', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {13.1: {'batsman': 'ME Trescothick', 'bowler': 'A Symonds', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['MEK Hussey'], 'kind': 'caught', 'player_out': 'ME Trescothick'}}}, {13.2: {'batsman': 'PD Collingwood', 'bowler': 'A Symonds', 'non_striker': 'AJ Strauss', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {13.3: {'batsman': 'PD Collingwood', 'bowler': 'A Symonds', 'non_striker': 'AJ Strauss', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {13.4: {'batsman': 'AJ Strauss', 'bowler': 'A Symonds', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {13.5: {'batsman': 'AJ Strauss', 'bowler': 'A Symonds', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {13.6: {'batsman': 'PD Collingwood', 'bowler': 'A Symonds', 'non_striker': 'AJ Strauss', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {14.1: {'batsman': 'AJ Strauss', 'bowler': 'MJ Clarke', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 3, 'extras': 0, 'total': 3}}}, {14.2: {'batsman': 'PD Collingwood', 'bowler': 'MJ Clarke', 'non_striker': 'AJ Strauss', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {14.3: {'batsman': 'PD Collingwood', 'bowler': 'MJ Clarke', 'non_striker': 'AJ Strauss', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {14.4: {'batsman': 'AJ Strauss', 'bowler': 'MJ Clarke', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {14.5: {'batsman': 'AJ Strauss', 'bowler': 'MJ Clarke', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {14.6: {'batsman': 'PD Collingwood', 'bowler': 'MJ Clarke', 'non_striker': 'AJ Strauss', 'runs': {'batsman': 6, 'extras': 0, 'total': 6}}}, {15.1: {'batsman': 'AJ Strauss', 'bowler': 'A Symonds', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {15.2: {'batsman': 'PD Collingwood', 'bowler': 'A Symonds', 'non_striker': 'AJ Strauss', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {15.3: {'batsman': 'AJ Strauss', 'bowler': 'A Symonds', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {15.4: {'batsman': 'AJ Strauss', 'bowler': 'A Symonds', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {15.5: {'batsman': 'PD Collingwood', 'bowler': 'A Symonds', 'non_striker': 'AJ Strauss', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {15.6: {'batsman': 'PD Collingwood', 'bowler': 'A Symonds', 'non_striker': 'AJ Strauss', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {16.1: {'batsman': 'PD Collingwood', 'bowler': 'JN Gillespie', 'non_striker': 'AJ Strauss', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {16.2: {'batsman': 'AJ Strauss', 'bowler': 'JN Gillespie', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {16.3: {'batsman': 'AJ Strauss', 'bowler': 'JN Gillespie', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {16.4: {'batsman': 'AJ Strauss', 'bowler': 'JN Gillespie', 'extras': {'wides': 1}, 'non_striker': 'PD Collingwood', 'runs': {'batsman': 0, 'extras': 1, 'total': 1}}}, {16.5: {'batsman': 'AJ Strauss', 'bowler': 'JN Gillespie', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {16.6: {'batsman': 'PD Collingwood', 'bowler': 'JN Gillespie', 'non_striker': 'AJ Strauss', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {16.7: {'batsman': 'PD Collingwood', 'bowler': 'JN Gillespie', 'non_striker': 'AJ Strauss', 'runs': {'batsman': 6, 'extras': 0, 'total': 6}}}, {17.1: {'batsman': 'AJ Strauss', 'bowler': 'GD McGrath', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {17.2: {'batsman': 'AJ Strauss', 'bowler': 'GD McGrath', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {17.3: {'batsman': 'PD Collingwood', 'bowler': 'GD McGrath', 'non_striker': 'AJ Strauss', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {17.4: {'batsman': 'AJ Strauss', 'bowler': 'GD McGrath', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {17.5: {'batsman': 'AJ Strauss', 'bowler': 'GD McGrath', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {17.6: {'batsman': 'PD Collingwood', 'bowler': 'GD McGrath', 'non_striker': 'AJ Strauss', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {18.1: {'batsman': 'PD Collingwood', 'bowler': 'JN Gillespie', 'non_striker': 'AJ Strauss', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {18.2: {'batsman': 'AJ Strauss', 'bowler': 'JN Gillespie', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'kind': 'bowled', 'player_out': 'AJ Strauss'}}}, {18.3: {'batsman': 'VS Solanki', 'bowler': 'JN Gillespie', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 1, 'extras': 0, 'total': 1}}}, {18.4: {'batsman': 'PD Collingwood', 'bowler': 'JN Gillespie', 'non_striker': 'VS Solanki', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}}, {18.5: {'batsman': 'PD Collingwood', 'bowler': 'JN Gillespie', 'non_striker': 'VS Solanki', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {18.6: {'batsman': 'PD Collingwood', 'bowler': 'JN Gillespie', 'non_striker': 'VS Solanki', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {19.1: {'batsman': 'VS Solanki', 'bowler': 'GD McGrath', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {19.2: {'batsman': 'VS Solanki', 'bowler': 'GD McGrath', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {19.3: {'batsman': 'VS Solanki', 'bowler': 'GD McGrath', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}, {19.4: {'batsman': 'VS Solanki', 'bowler': 'GD McGrath', 'non_striker': 'PD Collingwood', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['MEK Hussey'], 'kind': 'caught', 'player_out': 'VS Solanki'}}}, {19.5: {'batsman': 'PD Collingwood', 'bowler': 'GD McGrath', 'non_striker': 'J Lewis', 'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}, {19.6: {'batsman': 'PD Collingwood', 'bowler': 'GD McGrath', 'non_striker': 'J Lewis', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}, 'wicket': {'fielders': ['RT Ponting'], 'kind': 'caught', 'player_out': 'PD Collingwood'}}}]}])

In [47]:
# rows list initialization 
rows = []

#### good iterations

In [1]:
import pandas as pd
import yaml

In [2]:
with open('/Users/z001t72/Documents/Training/cricket/data/all_male/211028.yaml', 'r') as f:
    df_yaml = yaml.load(f)

In [3]:
columns = ['match_date', 'match_type', 'venue', 'city', 'overs', 'winner', 'innings', 'team', 'ball', 'batsman', 'bowler', 'non_striker', 'runs.batsman', 'runs.extras', 'runs.total', 'wicket.kind', 'wicket.player_out', 'wicket.fielders']

In [4]:
len(list(list(df_yaml['innings'][0].values())[0]['deliveries'])) + len(list(list(df_yaml['innings'][1].values())[0]['deliveries']))

215

In [31]:
ball_by_ball_data = pd.DataFrame(columns=columns)

In [32]:
for j in range(len(df_yaml['innings'])):
    ball_by_ball_innings = pd.DataFrame(columns=columns)
    for i in range(len(list(list(df_yaml['innings'][j].values())[0]['deliveries']))):
        ball_by_ball = pd.DataFrame(columns=columns)
        ball_by_ball['innings'] = list(df_yaml['innings'][j].items())[0][0]
        ball_by_ball['team'] = list(df_yaml['innings'][j].values())[0]['team']

        ball_by_ball['ball'] = list(list(df_yaml['innings'][j].values())[0]['deliveries'][i].items())[0][0]
        ball_by_ball['batsman'] = list(list(df_yaml['innings'][j].values())[0]['deliveries'][i].items())[0][1]['batsman']
        ball_by_ball['bowler'] = list(list(df_yaml['innings'][j].values())[0]['deliveries'][i].items())[0][1]['bowler']
        ball_by_ball['non_striker'] = list(list(df_yaml['innings'][j].values())[0]['deliveries'][i].items())[0][1]['non_striker']
        ball_by_ball['runs.batsman'] = list(list(df_yaml['innings'][j].values())[0]['deliveries'][i].items())[0][1]['runs']['batsman']
        ball_by_ball['runs.extras'] = list(list(df_yaml['innings'][j].values())[0]['deliveries'][i].items())[0][1]['runs']['extras']
        ball_by_ball['runs.total'] = list(list(df_yaml['innings'][j].values())[0]['deliveries'][i].items())[0][1]['runs']['total']
        ball_by_ball['wicket.kind'] = 'NA'
        ball_by_ball['wicket.player_out'] = 'NA'
        ball_by_ball['wicket.fielders'] = 'NA'

        if 'wicket' in list(list(df_yaml['innings'][j].values())[0]['deliveries'][i].items())[0][1]:
            ball_by_ball['wicket.kind'] = list(list(df_yaml['innings'][j].values())[0]['deliveries'][i].items())[0][1]['wicket']['kind']
            ball_by_ball['wicket.player_out'] = list(list(df_yaml['innings'][j].values())[0]['deliveries'][i].items())[0][1]['wicket']['player_out']
            ball_by_ball['wicket.fielders'] = 'NA'

            if 'fielders' in list(list(df_yaml['innings'][j].values())[0]['deliveries'][i].items())[0][1]['wicket']:
                ball_by_ball['wicket.fielders'] = list(list(df_yaml['innings'][j].values())[0]['deliveries'][i].items())[0][1]['wicket']['fielders']
            else:
                ball_by_ball['wicket.fielders'] = 'NA'
        else:
            ball_by_ball['wicket.kind'] = 'NA'
            ball_by_ball['wicket.player_out'] = 'NA'
            ball_by_ball['wicket.fielders'] = 'NA'
        
        ball_by_ball_innings = ball_by_ball_innings.append(ball_by_ball)
    ball_by_ball_data = ball_by_ball_data.append(ball_by_ball_innings)

In [33]:
ball_by_ball_data['match_date'] = "{:%Y-%m-%d}".format(df_yaml['info']['dates'][0])
ball_by_ball_data['match_type'] = df_yaml['info']['match_type']
ball_by_ball_data['venue'] = df_yaml['info']['venue']
ball_by_ball_data['city'] = df_yaml['info']['city']
ball_by_ball_data['overs'] = df_yaml['info']['overs']
ball_by_ball_data['winner'] = df_yaml['info']['outcome']['winner']

In [34]:
ball_by_ball_data

Empty DataFrame
Columns: [match_date, match_type, venue, city, overs, winner, innings, team, ball, batsman, bowler, non_striker, runs.batsman, runs.extras, runs.total, wicket.kind, wicket.player_out, wicket.fielders]
Index: []

In [12]:
ball_by_ball_data.to_csv("ball_by_ball_data.csv")

In [47]:
with open('/Users/z001t72/Documents/Training/cricket/data/all_male/211028.yaml', 'r') as f:
    df = pd.io.json.json_normalize(yaml.load(f))

In [48]:
df.columns

Index(['info.city', 'info.dates', 'info.gender', 'info.match_type',
       'info.outcome.by.runs', 'info.outcome.winner', 'info.overs',
       'info.player_of_match', 'info.teams', 'info.toss.decision',
       'info.toss.winner', 'info.umpires', 'info.venue', 'innings',
       'meta.created', 'meta.data_version', 'meta.revision'],
      dtype='object')

In [49]:
df

,info.city,info.dates,info.gender,info.match_type,info.outcome.by.runs,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,innings,meta.created,meta.data_version,meta.revision
0,Southampton,[2005-06-13],male,T20,100,England,20,[KP Pietersen],"[England, Australia]",bat,England,"[NJ Llong, JW Lloyds]",The Rose Bowl,"[{'1st innings': {'team': 'England', 'deliveri...",2013-02-22,0.9,1

In [61]:
df[['innings_1','innings_2']] = pd.DataFrame(df.innings.values.tolist(), index= df.index)

In [62]:
df

,info.city,info.dates,info.gender,info.match_type,info.outcome.by.runs,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,innings,meta.created,meta.data_version,meta.revision,innings_1,innings_2
0,Southampton,[2005-06-13],male,T20,100,England,20,[KP Pietersen],"[England, Australia]",bat,England,"[NJ Llong, JW Lloyds]",The Rose Bowl,"[{'1st innings': {'team': 'England', 'deliveri...",2013-02-22,0.9,1,"{'1st innings': {'team': 'England', 'deliverie...","{'2nd innings': {'team': 'Australia', 'deliver..."

In [64]:
df[['innings_1']] = pd.DataFrame(df.innings_1.values.tolist(), index= df.index)
df[['innings_2']] = pd.DataFrame(df.innings_2.values.tolist(), index= df.index)

In [66]:
df

,info.city,info.dates,info.gender,info.match_type,info.outcome.by.runs,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,innings,meta.created,meta.data_version,meta.revision,innings_1,innings_2
0,Southampton,[2005-06-13],male,T20,100,England,20,[KP Pietersen],"[England, Australia]",bat,England,"[NJ Llong, JW Lloyds]",The Rose Bowl,"[{'1st innings': {'team': 'England', 'deliveri...",2013-02-22,0.9,1,"{'team': 'England', 'deliveries': [{0.1: {'bat...","{'team': 'Australia', 'deliveries': [{0.1: {'b..."

In [65]:
pd.DataFrame(df.innings_1.values.tolist(), index= df.index)

                                          deliveries     team
0  [{0.1: {'batsman': 'ME Trescothick', 'bowler':...  England

In [71]:
res = df['innings'].apply(pd.Series).stack()

In [72]:
res = res.reset_index()

In [73]:
res

   level_0  level_1                                                  0
0        0        0  {'1st innings': {'team': 'England', 'deliverie...
1        0        1  {'2nd innings': {'team': 'Australia', 'deliver...

In [74]:
res.columns = ['nr1','nr2','innings']

In [75]:
res = res[['innings']]

In [76]:
res

                                             innings
0  {'1st innings': {'team': 'England', 'deliverie...
1  {'2nd innings': {'team': 'Australia', 'deliver...

In [77]:
res = pd.DataFrame(res.innings.values.tolist())

In [78]:
res

,1st innings,2nd innings
0,"{'team': 'England', 'deliveries': [{0.1: {'bat...",NaN
1,NaN,"{'team': 'Australia', 'deliveries': [{0.1: {'b..."

In [79]:
res.columns = ['innings_1','innings_2']

In [80]:
res['innings'] = res.innings_1.combine_first(res.innings_2)

In [81]:
res

,innings_1,innings_2,innings
0,"{'team': 'England', 'deliveries': [{0.1: {'bat...",NaN,"{'team': 'England', 'deliveries': [{0.1: {'bat..."
1,NaN,"{'team': 'Australia', 'deliveries': [{0.1: {'b...","{'team': 'Australia', 'deliveries': [{0.1: {'b..."

In [82]:
import numpy as np

In [83]:
res['innings_number'] = np.where(res['innings_1'].isna(), '2', '1')

In [84]:
res = res[['innings','innings_number']]

In [86]:
res

                                             innings innings_number
0  {'team': 'England', 'deliveries': [{0.1: {'bat...              1
1  {'team': 'Australia', 'deliveries': [{0.1: {'b...              2

In [94]:
pd.DataFrame(res.innings.values.tolist(), index = res.index)[['deliveries','team']]

                                          deliveries       team
0  [{0.1: {'batsman': 'ME Trescothick', 'bowler':...    England
1  [{0.1: {'batsman': 'AC Gilchrist', 'bowler': '...  Australia

In [70]:
res = res[['deliveries','team']]

In [156]:
res = res.set_index(['innings_number', 'team'])['deliveries'].apply(pd.Series).stack()

In [157]:
res = res.reset_index()

In [159]:
res.columns = ['innings_number', 'team','notreqd','balls']

In [180]:
res.head()

,innings_number,team,notreqd,balls
0,1,England,0,"{0.1: {'batsman': 'ME Trescothick', 'bowler': ..."
1,1,England,1,"{0.2: {'batsman': 'ME Trescothick', 'bowler': ..."
2,1,England,2,"{0.3: {'batsman': 'GO Jones', 'bowler': 'B Lee..."
3,1,England,3,"{0.4: {'batsman': 'GO Jones', 'bowler': 'B Lee..."
4,1,England,4,"{0.5: {'batsman': 'GO Jones', 'bowler': 'B Lee..."

In [220]:
list(res['balls'][0].keys())[0]

0.1

In [175]:
res['balls'][0].values()

dict_values([{'batsman': 'ME Trescothick', 'bowler': 'B Lee', 'non_striker': 'GO Jones', 'runs': {'batsman': 0, 'extras': 0, 'total': 0}}])

In [173]:
list(res['balls'][0].keys())[0]

0.1

In [255]:
list(res['balls'][24].values())[0]

{'batsman': 'GO Jones',
 'bowler': 'GD McGrath',
 'non_striker': 'ME Trescothick',
 'runs': {'batsman': 0, 'extras': 0, 'total': 0},
 'wicket': {'fielders': ['MS Kasprowicz'],
  'kind': 'caught',
  'player_out': 'GO Jones'}}

In [287]:
list(res['balls'][24].values())[0].get('wicket').get('kind')

'caught'

In [265]:
list(res['balls'][0].values())[0].get('runs').get('batsman')

{'batsman': 0, 'extras': 0, 'total': 0}

In [240]:
list(res['balls'][24].values())[0]['runs']

{'batsman': 0, 'extras': 0, 'total': 0}

In [190]:
list(res['balls'][0].values())[0]['runs']['batsman']

0

In [163]:
pd.DataFrame(res.balls.values.tolist())

,0.1,0.2,0.3,0.4,0.5,0.6,0.7,1.1,1.2,1.3,...,18.3,18.4,18.5,18.6,19.1,19.2,19.3,19.4,19.5,19.6
0,"{'batsman': 'ME Trescothick', 'bowler': 'B Lee...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"{'batsman': 'ME Trescothick', 'bowler': 'B Lee...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,"{'batsman': 'GO Jones', 'bowler': 'B Lee', 'no...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,"{'batsman': 'GO Jones', 'bowler': 'B Lee', 'no...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,"{'batsman': 'GO Jones', 'bowler': 'B Lee', 'no...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,"{'batsman': 'GO Jones', 'bowler': 'B Lee', 'ex...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,"{'batsman': 'GO Jones', 'bowler': 'B Lee', 'no...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'batsman': 'ME Trescothick', 'bowler': 'GD Mc...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'batsman': 'ME Trescothick', 'bowler': 'GD Mc...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'batsman': 'ME Trescothick', 'bowler': 'GD Mc...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [295]:
res['ball'] = res['balls'].apply(lambda x: list(x.keys())[0])
res['batsman'] = res['balls'].apply(lambda x: list(x.values())[0].get('batsman'))
res['non_striker'] = res['balls'].apply(lambda x: list(x.values())[0].get('non_striker'))
res['runs_batsman'] = res['balls'].apply(lambda x: list(x.values())[0].get('runs', {}).get('batsman'))
res['runs_extras'] = res['balls'].apply(lambda x: list(x.values())[0].get('runs', {}).get('extras'))
res['runs_total'] = res['balls'].apply(lambda x: list(x.values())[0].get('runs', {}).get('total'))
res['wicket_kind'] = res['balls'].apply(lambda x: list(x.values())[0].get('wicket', {}).get('kind'))
res['wicket_player_out'] = res['balls'].apply(lambda x: list(x.values())[0].get('wicket', {}).get('player_out'))
res['wicket_fielders'] = res['balls'].apply(lambda x: list(x.values())[0].get('wicket', {}).get('fielders'))

In [296]:
res.head(30)

,innings_number,team,notreqd,balls,ball,batsman,non_striker,runs_batsman,runs_extras,runs_total,wicket_kind,wicket_player_out,wicket_fielders
0,1,England,0,"{0.1: {'batsman': 'ME Trescothick', 'bowler': ...",0.1,ME Trescothick,GO Jones,0,0,0,None,None,None
1,1,England,1,"{0.2: {'batsman': 'ME Trescothick', 'bowler': ...",0.2,ME Trescothick,GO Jones,1,0,1,None,None,None
2,1,England,2,"{0.3: {'batsman': 'GO Jones', 'bowler': 'B Lee...",0.3,GO Jones,ME Trescothick,0,0,0,None,None,None
3,1,England,3,"{0.4: {'batsman': 'GO Jones', 'bowler': 'B Lee...",0.4,GO Jones,ME Trescothick,0,0,0,None,None,None
4,1,England,4,"{0.5: {'batsman': 'GO Jones', 'bowler': 'B Lee...",0.5,GO Jones,ME Trescothick,0,0,0,None,None,None
5,1,England,5,"{0.6: {'batsman': 'GO Jones', 'bowler': 'B Lee...",0.6,GO Jones,ME Trescothick,0,1,1,None,None,None
6,1,England,6,"{0.7: {'batsman': 'GO Jones', 'bowler': 'B Lee...",0.7,GO Jones,ME Trescothick,2,0,2,None,None,None
7,1,England,7,"{1.1: {'batsman': 'ME Trescothick', 'bowler': ...",1.1,ME Trescothick,GO Jones,0,0,0,None,None,None
8,1,England,8,"{1.2: {'batsman': 'ME Trescothick', 'bowler': ...",1.2,ME Trescothick,GO Jones,0,0,0,None,None,None
9,1,England,9,"{1.3: {'batsman': 'ME Trescothick', 'bowler': ...",1.3,ME Trescothick,GO Jones,0,1,1,None,None,None
10,1,England,10,"{1.4: {'batsman': 'ME Trescothick', 'bowler': ...",1.4,ME Trescothick,GO Jones,0,0,0,None,None,None
11,1,England,11,"{1.5: {'batsman': 'ME Trescothick', 'bowler': ...",1.5,ME Trescothick,GO Jones,0,0,0,None,None,None
12,1,England,12,"{1.6: {'batsman': 'ME Trescothick', 'bowler': ...",1.6,ME Trescothick,GO Jones,0,0,0,None,None,None
13,1,England,13,"{1.7: {'batsman': 'ME Trescothick', 'bowler': ...",1.7,ME Trescothick,GO Jones,1,0,1,None,None,None
14,1,England,14,"{2.1: {'batsman': 'ME Trescothick', 'bowler': ...",2.1,ME Trescothick,GO Jones,4,0,4,None,None,None
15,1,England,15,"{2.2: {'batsman': 'ME Trescothick', 'bowler': ...",2.2,ME Trescothick,GO Jones,1,0,1,None,None,None
16,1,England,16,"{2.3: {'batsman': 'GO Jones', 'bowler': 'B Lee...",2.3,GO Jones,ME Trescothick,0,0,0,None,None,None
17,1,England,17,"{2.4: {'batsman': 'GO Jones', 'bowler': 'B Lee...",2.4,GO Jones,ME Trescothick,4,0,4,None,None,None
18,1,England,18,"{2.5: {'batsman': 'GO Jones', 'bowler': 'B Lee...",2.5,GO Jones,ME Trescothick,4,0,4,None,None,None
19,1,England,19,"{2.6: {'batsman': 'GO Jones', 'bowler': 'B Lee...",2.6,GO Jones,ME Trescothick,1,0,1,None,None,None
20,1,England,20,"{3.1: {'batsman': 'GO Jones', 'bowler': 'GD Mc...",3.1,GO Jones,ME Trescothick,0,0,0,None,None,None
21,1,England,21,"{3.2: {'batsman': 'GO Jones', 'bowler': 'GD Mc...",3.2,GO Jones,ME Trescothick,4,0,4,None,None,None
22,1,England,22,"{3.3: {'batsman': 'GO Jones', 'bowler': 'GD Mc...",3.3,GO Jones,ME Trescothick,4,0,4,None,None,None
23,1,England,23,"{3.4: {'batsman': 'GO Jones', 'bowler': 'GD Mc...",3.4,GO Jones,ME Trescothick,0,0,0,None,None,None
24,1,England,24,"{3.5: {'batsman': 'GO Jones', 'bowler': 'GD Mc...",3.5,GO Jones,ME Trescothick,0,0,0,caught,GO Jones,[MS Kasprowicz]
25,1,England,25,"{3.6: {'batsman': 'ME Trescothick', 'bowler': ...",3.6,ME Trescothick,A Flintoff,1,0,1,None,None,None
26,1,England,26,"{4.1: {'batsman': 'ME Trescothick', 'bowler': ...",4.1,ME Trescothick,A Flintoff,1,0,1,None,None,None
27,1,England,27,"{4.2: {'batsman': 'A Flintoff', 'bowler': 'B L...",4.2,A Flintoff,ME Trescothick,1,1,2,None,None,None
28,1,England,28,"{4.3: {'batsman': 'ME Trescothick', 'bowler': ...",4.3,ME Trescothick,A Flintoff,4,0,4,None,None,None
29,1,England,29,"{4.4: {'batsman': 'ME Trescothick', 'bowler': ...",4.4,ME Trescothick,A Flintoff,1,0,1,None,None,None

In [297]:
len(res)

215

#### final version

In [30]:
with open('/Users/z001t72/Documents/Training/cricket/data/all_male/211028.yaml', 'r') as f:
    df = pd.io.json.json_normalize(yaml.load(f))

In [31]:
df

,info.city,info.dates,info.gender,info.match_type,info.outcome.by.runs,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,innings,meta.created,meta.data_version,meta.revision
0,Southampton,[2005-06-13],male,T20,100,England,20,[KP Pietersen],"[England, Australia]",bat,England,"[NJ Llong, JW Lloyds]",The Rose Bowl,"[{'1st innings': {'team': 'England', 'deliveri...",2013-02-22,0.9,1

In [3]:
#df[['innings_1','innings_2']] = pd.DataFrame(df.innings.values.tolist(), index= df.index)

In [15]:
res = df['innings'].apply(pd.Series).stack()

In [21]:
res

0  0    {'1st innings': {'team': 'England', 'deliverie...
   1    {'2nd innings': {'team': 'Australia', 'deliver...
dtype: object

In [22]:
res = res.reset_index()

In [23]:
res.columns = ['nr1','nr2','innings']

In [24]:
res

   nr1  nr2                                            innings
0    0    0  {'1st innings': {'team': 'England', 'deliverie...
1    0    1  {'2nd innings': {'team': 'Australia', 'deliver...

In [304]:
res = res[['innings']]

In [305]:
res = pd.DataFrame(res.innings.values.tolist())

In [307]:
res.columns = ['innings_1','innings_2']

In [308]:
res['innings'] = res.innings_1.combine_first(res.innings_2)

In [310]:
import numpy as np

In [311]:
res['innings_number'] = np.where(res['innings_1'].isna(), '2', '1')

In [312]:
res = res[['innings','innings_number']]

In [314]:
res[['deliveries','team']] = pd.DataFrame(res.innings.values.tolist(), index = res.index)

/Users/z001t72/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [316]:
res = res.set_index(['innings_number', 'team'])['deliveries'].apply(pd.Series).stack()

In [317]:
res = res.reset_index()

In [318]:
res.columns = ['innings_number', 'team','notreqd','balls']

In [322]:
res.head()

,innings_number,team,notreqd,balls,ball,batsman,non_striker,runs_batsman,runs_extras,runs_total,wicket_kind,wicket_player_out,wicket_fielders
0,1,England,0,"{0.1: {'batsman': 'ME Trescothick', 'bowler': ...",0.1,ME Trescothick,GO Jones,0,0,0,None,None,None
1,1,England,1,"{0.2: {'batsman': 'ME Trescothick', 'bowler': ...",0.2,ME Trescothick,GO Jones,1,0,1,None,None,None
2,1,England,2,"{0.3: {'batsman': 'GO Jones', 'bowler': 'B Lee...",0.3,GO Jones,ME Trescothick,0,0,0,None,None,None
3,1,England,3,"{0.4: {'batsman': 'GO Jones', 'bowler': 'B Lee...",0.4,GO Jones,ME Trescothick,0,0,0,None,None,None
4,1,England,4,"{0.5: {'batsman': 'GO Jones', 'bowler': 'B Lee...",0.5,GO Jones,ME Trescothick,0,0,0,None,None,None

In [320]:
res['ball'] = res['balls'].apply(lambda x: list(x.keys())[0])
res['batsman'] = res['balls'].apply(lambda x: list(x.values())[0].get('batsman'))
res['non_striker'] = res['balls'].apply(lambda x: list(x.values())[0].get('non_striker'))
res['runs_batsman'] = res['balls'].apply(lambda x: list(x.values())[0].get('runs', {}).get('batsman'))
res['runs_extras'] = res['balls'].apply(lambda x: list(x.values())[0].get('runs', {}).get('extras'))
res['runs_total'] = res['balls'].apply(lambda x: list(x.values())[0].get('runs', {}).get('total'))
res['wicket_kind'] = res['balls'].apply(lambda x: list(x.values())[0].get('wicket', {}).get('kind'))
res['wicket_player_out'] = res['balls'].apply(lambda x: list(x.values())[0].get('wicket', {}).get('player_out'))
res['wicket_fielders'] = res['balls'].apply(lambda x: list(x.values())[0].get('wicket', {}).get('fielders'))

In [321]:
res.head(30)

,innings_number,team,notreqd,balls,ball,batsman,non_striker,runs_batsman,runs_extras,runs_total,wicket_kind,wicket_player_out,wicket_fielders
0,1,England,0,"{0.1: {'batsman': 'ME Trescothick', 'bowler': ...",0.1,ME Trescothick,GO Jones,0,0,0,None,None,None
1,1,England,1,"{0.2: {'batsman': 'ME Trescothick', 'bowler': ...",0.2,ME Trescothick,GO Jones,1,0,1,None,None,None
2,1,England,2,"{0.3: {'batsman': 'GO Jones', 'bowler': 'B Lee...",0.3,GO Jones,ME Trescothick,0,0,0,None,None,None
3,1,England,3,"{0.4: {'batsman': 'GO Jones', 'bowler': 'B Lee...",0.4,GO Jones,ME Trescothick,0,0,0,None,None,None
4,1,England,4,"{0.5: {'batsman': 'GO Jones', 'bowler': 'B Lee...",0.5,GO Jones,ME Trescothick,0,0,0,None,None,None
5,1,England,5,"{0.6: {'batsman': 'GO Jones', 'bowler': 'B Lee...",0.6,GO Jones,ME Trescothick,0,1,1,None,None,None
6,1,England,6,"{0.7: {'batsman': 'GO Jones', 'bowler': 'B Lee...",0.7,GO Jones,ME Trescothick,2,0,2,None,None,None
7,1,England,7,"{1.1: {'batsman': 'ME Trescothick', 'bowler': ...",1.1,ME Trescothick,GO Jones,0,0,0,None,None,None
8,1,England,8,"{1.2: {'batsman': 'ME Trescothick', 'bowler': ...",1.2,ME Trescothick,GO Jones,0,0,0,None,None,None
9,1,England,9,"{1.3: {'batsman': 'ME Trescothick', 'bowler': ...",1.3,ME Trescothick,GO Jones,0,1,1,None,None,None
10,1,England,10,"{1.4: {'batsman': 'ME Trescothick', 'bowler': ...",1.4,ME Trescothick,GO Jones,0,0,0,None,None,None
11,1,England,11,"{1.5: {'batsman': 'ME Trescothick', 'bowler': ...",1.5,ME Trescothick,GO Jones,0,0,0,None,None,None
12,1,England,12,"{1.6: {'batsman': 'ME Trescothick', 'bowler': ...",1.6,ME Trescothick,GO Jones,0,0,0,None,None,None
13,1,England,13,"{1.7: {'batsman': 'ME Trescothick', 'bowler': ...",1.7,ME Trescothick,GO Jones,1,0,1,None,None,None
14,1,England,14,"{2.1: {'batsman': 'ME Trescothick', 'bowler': ...",2.1,ME Trescothick,GO Jones,4,0,4,None,None,None
15,1,England,15,"{2.2: {'batsman': 'ME Trescothick', 'bowler': ...",2.2,ME Trescothick,GO Jones,1,0,1,None,None,None
16,1,England,16,"{2.3: {'batsman': 'GO Jones', 'bowler': 'B Lee...",2.3,GO Jones,ME Trescothick,0,0,0,None,None,None
17,1,England,17,"{2.4: {'batsman': 'GO Jones', 'bowler': 'B Lee...",2.4,GO Jones,ME Trescothick,4,0,4,None,None,None
18,1,England,18,"{2.5: {'batsman': 'GO Jones', 'bowler': 'B Lee...",2.5,GO Jones,ME Trescothick,4,0,4,None,None,None
19,1,England,19,"{2.6: {'batsman': 'GO Jones', 'bowler': 'B Lee...",2.6,GO Jones,ME Trescothick,1,0,1,None,None,None
20,1,England,20,"{3.1: {'batsman': 'GO Jones', 'bowler': 'GD Mc...",3.1,GO Jones,ME Trescothick,0,0,0,None,None,None
21,1,England,21,"{3.2: {'batsman': 'GO Jones', 'bowler': 'GD Mc...",3.2,GO Jones,ME Trescothick,4,0,4,None,None,None
22,1,England,22,"{3.3: {'batsman': 'GO Jones', 'bowler': 'GD Mc...",3.3,GO Jones,ME Trescothick,4,0,4,None,None,None
23,1,England,23,"{3.4: {'batsman': 'GO Jones', 'bowler': 'GD Mc...",3.4,GO Jones,ME Trescothick,0,0,0,None,None,None
24,1,England,24,"{3.5: {'batsman': 'GO Jones', 'bowler': 'GD Mc...",3.5,GO Jones,ME Trescothick,0,0,0,caught,GO Jones,[MS Kasprowicz]
25,1,England,25,"{3.6: {'batsman': 'ME Trescothick', 'bowler': ...",3.6,ME Trescothick,A Flintoff,1,0,1,None,None,None
26,1,England,26,"{4.1: {'batsman': 'ME Trescothick', 'bowler': ...",4.1,ME Trescothick,A Flintoff,1,0,1,None,None,None
27,1,England,27,"{4.2: {'batsman': 'A Flintoff', 'bowler': 'B L...",4.2,A Flintoff,ME Trescothick,1,1,2,None,None,None
28,1,England,28,"{4.3: {'batsman': 'ME Trescothick', 'bowler': ...",4.3,ME Trescothick,A Flintoff,4,0,4,None,None,None
29,1,England,29,"{4.4: {'batsman': 'ME Trescothick', 'bowler': ...",4.4,ME Trescothick,A Flintoff,1,0,1,None,None,None

In [323]:
res.columns

Index(['innings_number', 'team', 'notreqd', 'balls', 'ball', 'batsman',
       'non_striker', 'runs_batsman', 'runs_extras', 'runs_total',
       'wicket_kind', 'wicket_player_out', 'wicket_fielders'],
      dtype='object')

In [329]:
res = res[['innings_number', 'team', 'ball', 'batsman',
       'non_striker', 'runs_batsman', 'runs_extras', 'runs_total',
       'wicket_kind', 'wicket_player_out', 'wicket_fielders']]

In [352]:
res

,innings_number,team,ball,batsman,non_striker,runs_batsman,runs_extras,runs_total,wicket_kind,wicket_player_out,wicket_fielders,match_date,match_type,venue,city,overs,winner
0,1,England,0.1,ME Trescothick,GO Jones,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
1,1,England,0.2,ME Trescothick,GO Jones,1,0,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
2,1,England,0.3,GO Jones,ME Trescothick,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
3,1,England,0.4,GO Jones,ME Trescothick,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
4,1,England,0.5,GO Jones,ME Trescothick,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
5,1,England,0.6,GO Jones,ME Trescothick,0,1,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
6,1,England,0.7,GO Jones,ME Trescothick,2,0,2,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
7,1,England,1.1,ME Trescothick,GO Jones,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
8,1,England,1.2,ME Trescothick,GO Jones,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
9,1,England,1.3,ME Trescothick,GO Jones,0,1,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
10,1,England,1.4,ME Trescothick,GO Jones,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
11,1,England,1.5,ME Trescothick,GO Jones,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
12,1,England,1.6,ME Trescothick,GO Jones,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
13,1,England,1.7,ME Trescothick,GO Jones,1,0,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
14,1,England,2.1,ME Trescothick,GO Jones,4,0,4,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
15,1,England,2.2,ME Trescothick,GO Jones,1,0,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
16,1,England,2.3,GO Jones,ME Trescothick,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
17,1,England,2.4,GO Jones,ME Trescothick,4,0,4,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
18,1,England,2.5,GO Jones,ME Trescothick,4,0,4,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
19,1,England,2.6,GO Jones,ME Trescothick,1,0,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
20,1,England,3.1,GO Jones,ME Trescothick,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
21,1,England,3.2,GO Jones,ME Trescothick,4,0,4,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
22,1,England,3.3,GO Jones,ME Trescothick,4,0,4,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
23,1,England,3.4,GO Jones,ME Trescothick,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
24,1,England,3.5,GO Jones,ME Trescothick,0,0,0,caught,GO Jones,[MS Kasprowicz],2005-06-13,T20,The Rose Bowl,Southampton,20,England
25,1,England,3.6,ME Trescothick,A Flintoff,1,0,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
26,1,England,4.1,ME Trescothick,A Flintoff,1,0,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
27,1,England,4.2,A Flintoff,ME Trescothick,1,1,2,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
28,1,England,4.3,ME Trescothick,A Flintoff,4,0,4,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
29,1,England,4.4,ME Trescothick,A Flintoff,1,0,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2,Australia,9.5,JN Gillespie,B Lee,1,0,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
186,2,Australia,9.6,B Lee,JN Gillespie,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
187,2,Australia,10.1,JN Gillespie,B Lee,1,0,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
188,2,Australia,10.2,B Lee,JN Gillespie,0,1,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
189,2,Australia,10.3,JN Gillespie,B Lee,0,0,0,caught,JN Gillespie,[ME Trescothick],2005-06-13,T20,The Rose Bowl,Southampton,20,England
190,2,Australia,10.4,B Lee,MS Kasprowicz,1,0,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
191,2,Australia,10.5,MS Kasprowicz,B Lee,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
192,2,Australia,10.6,MS Kasprowicz,B Lee,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
193,2,Australia,11.1,B Lee,MS Kasprowicz,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
194,2,Australia,11.2,B Lee,MS Kasprowicz,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
195,2,Australia,11.3,B Lee,MS Kasprowicz,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
196,2,Australia,11.4,B Lee,MS Kasprowicz,0,1,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
197,2,Australia,11.5,MS Kasprowicz,B Lee,0,1,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
198,2,Australia,11.6,MS Kasprowicz,B Lee,1,0,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
199,2,Australia,11.7,B Lee,MS Kasprowicz,1,0,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
200,2,Australia,12.1,B Lee,MS Kasprowicz,0,0,0,caught,B Lee,[SJ Harmison],2005-06-13,T20,The Rose Bowl,Southampton,20,England
201,2,Australia,12.2,MS Kasprowicz,GD McGrath,1,0,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
202,2,Australia,12.3,GD McGrath,MS Kasprowicz,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
203,2,Australia,12.4,GD McGrath,MS Kasprowicz,3,0,3,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
204,2,Australia,12.5,MS Kasprowicz,GD McGrath,1,0,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
205,2,Australia,12.6,GD McGrath,MS Kasprowicz,1,0,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
206,2,Australia,13.1,GD McGrath,MS Kasprowicz,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
207,2,Australia,13.2,GD McGrath,MS Kasprowicz,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
208,2,Australia,13.3,GD McGrath,MS Kasprowicz,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
209,2,Australia,13.4,GD McGrath,MS Kasprowicz,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
210,2,Australia,13.5,GD McGrath,MS Kasprowicz,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
211,2,Australia,13.6,GD McGrath,MS Kasprowicz,1,0,1,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
212,2,Australia,14.1,GD McGrath,MS Kasprowicz,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
213,2,Australia,14.2,GD McGrath,MS Kasprowicz,0,0,0,None,None,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England
214,2,Australia,14.3,GD McGrath,MS Kasprowicz,0,0,0,bowled,GD McGrath,None,2005-06-13,T20,The Rose Bowl,Southampton,20,England

In [349]:
df['info.dates'][0][0]

datetime.date(2005, 6, 13)

In [350]:
"{:%Y-%m-%d}".format(df['info.dates'][0][0])

'2005-06-13'

In [340]:
df['info.match_type'][0]

'T20'

In [351]:
res['match_date'] = "{:%Y-%m-%d}".format(df['info.dates'][0][0])
res['match_type'] = df['info.match_type'][0]
res['venue'] = df['info.venue'][0]
res['city'] = df["info.city"][0]
res['overs'] = df['info.overs'][0]
res['winner'] = df['info.outcome.winner'][0]

In [37]:
df['info.teams'][0]

['England', 'Australia']