In [1]:
import pandas as pd
import numpy as np

In [35]:
master_odi_t20 = pd.read_csv("/Users/z001t72/Documents/Training/cricket/data-prep/master_odi_t20.csv")

In [36]:
master_odi_t20.shape

(1264700, 18)

In [19]:
master_odi_t20.head(30)

,match_date,match_type,teams,venue,overs,winner,innings_number,team,ball,batsman,bowler,non_striker,runs_batsman,runs_extras,runs_total,wicket_kind,wicket_player_out,wicket_fielders
0,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,0.1,RV Uthappa,IK Pathan,AJ Finch,0,0,0,NaN,NaN,NaN
1,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,0.2,RV Uthappa,IK Pathan,AJ Finch,2,0,2,NaN,NaN,NaN
2,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,0.3,RV Uthappa,IK Pathan,AJ Finch,4,0,4,NaN,NaN,NaN
3,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,0.4,RV Uthappa,IK Pathan,AJ Finch,0,0,0,NaN,NaN,NaN
4,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,0.5,RV Uthappa,IK Pathan,AJ Finch,1,0,1,NaN,NaN,NaN
5,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,0.6,AJ Finch,IK Pathan,RV Uthappa,4,0,4,NaN,NaN,NaN
6,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,1.1,RV Uthappa,M Morkel,AJ Finch,0,0,0,NaN,NaN,NaN
7,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,1.2,RV Uthappa,M Morkel,AJ Finch,3,0,3,NaN,NaN,NaN
8,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,1.3,AJ Finch,M Morkel,RV Uthappa,1,0,1,NaN,NaN,NaN
9,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,1.4,RV Uthappa,M Morkel,AJ Finch,1,0,1,NaN,NaN,NaN
10,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,1.5,AJ Finch,M Morkel,RV Uthappa,0,0,0,NaN,NaN,NaN
11,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,1.6,AJ Finch,M Morkel,RV Uthappa,0,0,0,NaN,NaN,NaN
12,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,2.1,RV Uthappa,S Kaul,AJ Finch,1,0,1,NaN,NaN,NaN
13,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,2.2,AJ Finch,S Kaul,RV Uthappa,0,0,0,NaN,NaN,NaN
14,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,2.3,AJ Finch,S Kaul,RV Uthappa,1,0,1,NaN,NaN,NaN
15,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,2.4,RV Uthappa,S Kaul,AJ Finch,1,0,1,NaN,NaN,NaN
16,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,2.5,AJ Finch,S Kaul,RV Uthappa,6,0,6,NaN,NaN,NaN
17,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,2.6,AJ Finch,S Kaul,RV Uthappa,0,0,0,NaN,NaN,NaN
18,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,3.1,RV Uthappa,M Morkel,AJ Finch,4,0,4,NaN,NaN,NaN
19,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,3.2,RV Uthappa,M Morkel,AJ Finch,1,0,1,NaN,NaN,NaN
20,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,3.3,AJ Finch,M Morkel,RV Uthappa,0,0,0,NaN,NaN,NaN
21,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,3.4,AJ Finch,M Morkel,RV Uthappa,0,0,0,NaN,NaN,NaN
22,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,3.5,AJ Finch,M Morkel,RV Uthappa,1,0,1,NaN,NaN,NaN
23,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,3.6,RV Uthappa,M Morkel,AJ Finch,1,0,1,NaN,NaN,NaN
24,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,4.1,RV Uthappa,S Kaul,AJ Finch,0,0,0,NaN,NaN,NaN
25,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,4.2,RV Uthappa,S Kaul,AJ Finch,0,0,0,NaN,NaN,NaN
26,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,4.3,RV Uthappa,S Kaul,AJ Finch,0,0,0,NaN,NaN,NaN
27,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,4.4,RV Uthappa,S Kaul,AJ Finch,0,0,0,NaN,NaN,NaN
28,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,4.5,RV Uthappa,S Kaul,AJ Finch,4,0,4,NaN,NaN,NaN
29,2013-05-19,T20,"['Pune Warriors', 'Delhi Daredevils']",Subrata Roy Sahara Stadium,20,Pune Warriors,1,Pune Warriors,4.6,RV Uthappa,S Kaul,AJ Finch,1,0,1,NaN,NaN,NaN

In [34]:
np.savetxt('venue.csv',master_odi_t20['venue'].unique(), fmt='%5s', delimiter=',', newline='\n', header='', footer='')

In [5]:
batsman_data = master_odi_t20.groupby(['batsman', 'match_date','match_type','innings_number'])\
                            .apply(lambda x: pd.Series(
                                    dict(runs_batsman = (x.runs_batsman).sum()
                                         ,balls_faced = (x.ball).count()
                                         ,boundary_4 = (x.runs_batsman == 4).sum()
                                         ,boundary_6 = (x.runs_batsman == 6).sum()
                                         ,boundary_6 = (x.runs_batsman == 6).sum()
                                        ))).reset_index()

/Users/z001t72/anaconda3/lib/python3.6/site-packages/pandas/core/groupby/groupby.py:4315: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  stacked_values = np.vstack(map(np.asarray, values))

In [6]:
batsman_data['strike_rate'] = (batsman_data['runs_batsman'] / batsman_data['balls_faced'] * 100)

In [7]:
batsman_data = batsman_data.sort_values(['batsman', 'match_date','match_type'], ascending=[True, True, True])

In [8]:
#len(batsman_data['batsman'].unique())

In [9]:
batsman_data.head()

,batsman,match_date,match_type,runs_batsman,balls_faced,boundary_4,boundary_6,strike_rate
0,A Ashish Reddy,2012-04-29,T20,10,10,0,1,100.0
1,A Ashish Reddy,2012-05-04,T20,3,3,0,0,100.0
2,A Ashish Reddy,2012-05-08,T20,8,8,1,0,100.0
3,A Ashish Reddy,2012-05-18,T20,10,4,2,0,250.0
4,A Ashish Reddy,2012-05-20,T20,4,5,0,0,80.0

pointing system

<img src="points_1.png" style="width: 370px;" align="left"/>
<img src="points_2.png" style="width: 370px;" align="right"/>
<img src="points_3.png" style="width: 370px;" align="left"/>
<img src="points_4.png" style="width: 370px;" align="right"/>

In [10]:
# def cal_batting_points(match_type, runs, balls, fours, sixes, strike_rate):
#     batting_points = (runs * 1) + (fours * 1) + (sixes * 2)
    
#     if match_type == 'T20':
#         if runs >= 50:
#             batting_points = batting_points + 8
#         elif runs >= 100:
#             batting_points = batting_points + 16
#         else:
#             batting_points = batting_points
        
#         if balls >= 10:
#             if strike_rate < 50:
#                 batting_points = batting_points - 6
#             elif strike_rate >= 50 and strike_rate < 60:
#                 batting_points = batting_points - 4
#             elif strike_rate >= 60 and strike_rate <= 70:
#                 batting_points = batting_points - 2
#             else:
#                 batting_points = batting_points
            
#     elif match_type == 'ODI':
#         if runs >= 50:
#             batting_points = batting_points + 4
#         elif runs >= 100:
#             batting_points = batting_points + 8
#         else:
#             batting_points = batting_points
           
#         if balls >= 20:
#             if strike_rate < 40:
#                 batting_points = batting_points - 6
#             elif strike_rate >= 40 and strike_rate < 50:
#                 batting_points = batting_points - 4
#             elif strike_rate >= 50 and strike_rate <= 60:
#                 batting_points = batting_points - 2
#             else:
#                 batting_points = batting_points
    
#     return batting_points

In [11]:
# batsman_data['batting_points'] = batsman_data.apply(
#                     lambda x: cal_batting_points(batsman_data['match_type']
#                                                  ,batsman_data['runs_batsman']
#                                                  ,batsman_data['balls_faced']
#                                                  ,batsman_data['boundary_4']
#                                                  ,batsman_data['boundary_6']
#                                                  ,(batsman_data['runs_batsman']/batsman_data['balls_faced']*100)
#                                                 ),axis=1)

In [12]:
#standard batting points
batsman_data['batting_points'] = (batsman_data['runs_batsman'] * 1) \
                                    + (batsman_data['boundary_4'] * 1) \
                                    + (batsman_data['boundary_6'] * 2)

#conditional batting points based on runs
batsman_data['batting_points'] = np.where((batsman_data['match_type'] == 'T20')
                                          & (batsman_data['runs_batsman'] >= 50)
                                          , batsman_data['batting_points'] + 8
                                          , batsman_data['batting_points'])

batsman_data['batting_points'] = np.where((batsman_data['match_type'] == 'T20')
                                          & (batsman_data['runs_batsman'] >= 100)
                                          , batsman_data['batting_points'] + 16
                                          , batsman_data['batting_points'])

batsman_data['batting_points'] = np.where((batsman_data['match_type'] == 'ODI')
                                          & (batsman_data['runs_batsman'] >= 50)
                                          , batsman_data['batting_points'] + 4
                                          , batsman_data['batting_points'])

batsman_data['batting_points'] = np.where((batsman_data['match_type'] == 'ODI')
                                          & (batsman_data['runs_batsman'] >= 100)
                                          , batsman_data['batting_points'] + 8
                                          , batsman_data['batting_points'])

#conditional batting points based on strike rate
batsman_data['batting_points'] = np.where((batsman_data['match_type'] == 'T20')
                                          & (batsman_data['balls_faced'] >= 10)
                                          & (batsman_data['strike_rate'] < 50)
                                          , batsman_data['batting_points'] - 6
                                          , batsman_data['batting_points'])

batsman_data['batting_points'] = np.where((batsman_data['match_type'] == 'T20')
                                          & (batsman_data['balls_faced'] >= 10)
                                          & (batsman_data['strike_rate'] >= 50)
                                          & (batsman_data['strike_rate'] < 60)
                                          , batsman_data['batting_points'] - 4
                                          , batsman_data['batting_points'])

batsman_data['batting_points'] = np.where((batsman_data['match_type'] == 'T20')
                                          & (batsman_data['balls_faced'] >= 10)
                                          & (batsman_data['strike_rate'] >= 60)
                                          & (batsman_data['strike_rate'] <= 70)
                                          , batsman_data['batting_points'] - 2
                                          , batsman_data['batting_points'])

batsman_data['batting_points'] = np.where((batsman_data['match_type'] == 'ODI')
                                          & (batsman_data['balls_faced'] >= 10)
                                          & (batsman_data['strike_rate'] < 40)
                                          , batsman_data['batting_points'] - 6
                                          , batsman_data['batting_points'])

batsman_data['batting_points'] = np.where((batsman_data['match_type'] == 'ODI')
                                          & (batsman_data['balls_faced'] >= 10)
                                          & (batsman_data['strike_rate'] >= 40)
                                          & (batsman_data['strike_rate'] < 50)
                                          , batsman_data['batting_points'] - 4
                                          , batsman_data['batting_points'])

batsman_data['batting_points'] = np.where((batsman_data['match_type'] == 'ODI')
                                          & (batsman_data['balls_faced'] >= 10)
                                          & (batsman_data['strike_rate'] >= 50)
                                          & (batsman_data['strike_rate'] <= 60)
                                          , batsman_data['batting_points'] - 2
                                          , batsman_data['batting_points'])

Note: np.where conditions operate way more faster than lambda functions

In [13]:
batsman_data.head(30)

,batsman,match_date,match_type,runs_batsman,balls_faced,boundary_4,boundary_6,strike_rate,batting_points
0,A Ashish Reddy,2012-04-29,T20,10,10,0,1,100.000000,12
1,A Ashish Reddy,2012-05-04,T20,3,3,0,0,100.000000,3
2,A Ashish Reddy,2012-05-08,T20,8,8,1,0,100.000000,9
3,A Ashish Reddy,2012-05-18,T20,10,4,2,0,250.000000,12
4,A Ashish Reddy,2012-05-20,T20,4,5,0,0,80.000000,4
5,A Ashish Reddy,2013-04-05,T20,7,4,1,0,175.000000,8
6,A Ashish Reddy,2013-04-09,T20,3,4,0,0,75.000000,3
7,A Ashish Reddy,2013-04-12,T20,16,9,2,0,177.777778,18
8,A Ashish Reddy,2013-04-14,T20,4,5,0,0,80.000000,4
9,A Ashish Reddy,2013-04-17,T20,19,15,0,1,126.666667,21
10,A Ashish Reddy,2013-04-19,T20,7,7,1,0,100.000000,8
11,A Ashish Reddy,2013-04-25,T20,36,16,2,3,225.000000,44
12,A Ashish Reddy,2013-04-27,T20,14,11,1,0,127.272727,15
13,A Ashish Reddy,2013-05-04,T20,5,7,1,0,71.428571,6
14,A Ashish Reddy,2015-04-16,T20,13,9,0,1,144.444444,15
15,A Ashish Reddy,2015-04-18,T20,15,8,1,1,187.500000,18
16,A Ashish Reddy,2015-04-27,T20,22,8,1,2,275.000000,27
17,A Ashish Reddy,2015-05-02,T20,6,6,1,0,100.000000,7
18,A Ashish Reddy,2015-05-17,T20,17,15,0,1,113.333333,19
19,A Ashish Reddy,2016-04-12,T20,32,18,2,3,177.777778,40
20,A Ashish Reddy,2016-04-16,T20,13,9,0,1,144.444444,15
21,A Ashish Reddy,2016-04-30,T20,2,3,0,0,66.666667,2
22,A Ayre,2016-01-09,T20,0,1,0,0,0.000000,0
23,A Bagai,2006-11-27,ODI,58,98,2,0,59.183673,62
24,A Bagai,2006-11-30,ODI,17,27,2,0,62.962963,19
25,A Bagai,2006-12-01,ODI,23,51,3,0,45.098039,22
26,A Bagai,2007-02-02,ODI,7,6,1,0,116.666667,8
27,A Bagai,2007-02-05,ODI,5,5,1,0,100.000000,6
28,A Bagai,2007-03-18,ODI,6,11,1,0,54.545455,5
29,A Bagai,2007-03-22,ODI,37,66,3,0,56.060606,38

In [18]:
batsman_data[batsman_data['batsman'] == 'RG Sharma'].to_csv("RG_Sharma.csv", index = False)

### feature engineering

#### factors that could drive match performance

| Factor | Useful for forecast | Variable |
| --- | --- | --- |
| home/away game | Yes | TBD |
| position that person comes to bat | No
| number of overs left in the game | No
| type of match T20 or ODI | Yes | match_type
| batting first or chasing* | No | innings_number
| spinning or fast bowling pitch | Yes | TBD
| batting pitch or bowling pitch | Yes | avg_score_1_innings, avg_score_2_innings
| overcast, sunny or windy day | Yes | TBD
| amount of dew | Yes | TBD
| day match or day/night | Yes | TBD
| opposition | Yes | TBD
| current form | Yes | moving_average
| target chasing | No

note: batting first or chasing might not be available for forecasting as we would not know if a team would bat first or chase. however, generating forecast for both options would be ideal and would like to have that option available for scenario play